/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments";
import * as core from "../../../../../../core";
import * as Metriport from "../../../../..";
import urlJoin from "url-join";
import * as errors from "../../../../../../errors";

export declare namespace Document {
    interface Options {
        environment?: core.Supplier<environments.MetriportEnvironment | string>;
        apiKey: core.Supplier<string>;
    }

    interface RequestOptions {
        timeoutInSeconds?: number;
        maxRetries?: number;
    }
}

export class Document {
    constructor(protected readonly _options: Document.Options) {}

    /**
     * Triggers a document query for the specified patient across HIEs.
     * When executed, this endpoint triggers an asynchronous document query across HIEs.
     * This is a two step process where the documents will first be downloaded from
     * the respective HIE and, if they are C-CDA/XML, then converted to FHIR.
     * Each process (download, conversion) will contain its own `total` and `status`
     * as well as the count for `successful` operations and `errors`.
     * When the asynchronous document query finishes, it stores new/updated document
     * references for future requests and updates the status of download to `completed`.
     * Meanwhile, in the background, files will be converted and the convert count will be
     * incremented. Once all documents have been converted it too will be marked as `completed`.
     * If there's no document to be converted, the total will be set to zero and
     * the status to `completed`.
     *
     * @example
     *     await metriport.medical.document.startQuery({
     *         patientId: "12345678",
     *         facilityId: "12345678",
     *         body: {
     *             "youCan": "putAny",
     *             "stringKeyValue": "pairsHere"
     *         }
     *     })
     */
    public async startQuery(
        request: Metriport.medical.StartDocumentQueryRequest,
        requestOptions?: Document.RequestOptions
    ): Promise<Metriport.medical.DocumentQuery> {
        const { patientId, facilityId, body: _body } = request;
        const _queryParams: Record<string, string | string[]> = {};
        _queryParams["patientId"] = patientId;
        _queryParams["facilityId"] = facilityId;
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.MetriportEnvironment.Production,
                "/medical/v1/document/query"
            ),
            method: "POST",
            headers: {
                "X-API-Key": await core.Supplier.get(this._options.apiKey),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@metriport/api-sdk",
                "X-Fern-SDK-Version": "0.0.343",
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            body: _body != null ? _body : undefined,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
        });
        if (_response.ok) {
            return _response.body as Metriport.medical.DocumentQuery;
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MetriportError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.MetriportError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.MetriportTimeoutError();
            case "unknown":
                throw new errors.MetriportError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Returns the document query status for the specified patient.
     * Can be used in to check the progress when the final status
     * of the document query is taking longer than expected.
     * See more on [Start Document Query](/medical-api/api-reference/document/start-document-query).
     *
     * @example
     *     await metriport.medical.document.getQueryStatus({
     *         patientId: "12345678"
     *     })
     */
    public async getQueryStatus(
        request: Metriport.medical.GetDocumentQueryStatusRequest,
        requestOptions?: Document.RequestOptions
    ): Promise<Metriport.medical.DocumentQuery> {
        const { patientId } = request;
        const _queryParams: Record<string, string | string[]> = {};
        _queryParams["patientId"] = patientId;
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.MetriportEnvironment.Production,
                "/medical/v1/document/query"
            ),
            method: "POST",
            headers: {
                "X-API-Key": await core.Supplier.get(this._options.apiKey),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@metriport/api-sdk",
                "X-Fern-SDK-Version": "0.0.343",
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
        });
        if (_response.ok) {
            return _response.body as Metriport.medical.DocumentQuery;
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MetriportError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.MetriportError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.MetriportTimeoutError();
            case "unknown":
                throw new errors.MetriportError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Lists all Documents that can be retrieved for a Patient.
     * This endpoint returns the document references available
     * at Metriport which are associated with the given Patient.
     * To start a new document query, see the [Start Document Query endpoint](/api-reference/medical/document/start-query).
     */
    public async list(
        request: Metriport.medical.ListDocumentsRequest,
        requestOptions?: Document.RequestOptions
    ): Promise<Metriport.medical.ListDocumentReferences> {
        const { patientId, dateFrom, dateTo, content } = request;
        const _queryParams: Record<string, string | string[]> = {};
        _queryParams["patientId"] = patientId;
        if (dateFrom != null) {
            _queryParams["dateFrom"] = dateFrom;
        }

        if (dateTo != null) {
            _queryParams["dateTo"] = dateTo;
        }

        if (content != null) {
            _queryParams["content"] = content;
        }

        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.MetriportEnvironment.Production,
                "/medical/v1/document"
            ),
            method: "GET",
            headers: {
                "X-API-Key": await core.Supplier.get(this._options.apiKey),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@metriport/api-sdk",
                "X-Fern-SDK-Version": "0.0.343",
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
        });
        if (_response.ok) {
            return _response.body as Metriport.medical.ListDocumentReferences;
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MetriportError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.MetriportError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.MetriportTimeoutError();
            case "unknown":
                throw new errors.MetriportError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Gets a downloadable URL for downloading the specified document.
     * This endpoint returns a URL which you can use to download
     * the specified document and/or convert using the file name
     * provided from the [List Documents](/api-reference/medical/document/list) endpoint.
     *
     * @example
     *     await metriport.medical.document.getUrl({
     *         fileName: "x-ray",
     *         conversionType: Metriport.medical.ConversionType.Pdf
     *     })
     */
    public async getUrl(
        request: Metriport.medical.GetDocumentUrlRequest,
        requestOptions?: Document.RequestOptions
    ): Promise<Metriport.medical.DocumentUrl> {
        const { fileName, conversionType } = request;
        const _queryParams: Record<string, string | string[]> = {};
        _queryParams["fileName"] = fileName;
        if (conversionType != null) {
            _queryParams["conversionType"] = conversionType;
        }

        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.MetriportEnvironment.Production,
                "/medical/v1/document/download-url"
            ),
            method: "GET",
            headers: {
                "X-API-Key": await core.Supplier.get(this._options.apiKey),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@metriport/api-sdk",
                "X-Fern-SDK-Version": "0.0.343",
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
        });
        if (_response.ok) {
            return _response.body as Metriport.medical.DocumentUrl;
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MetriportError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.MetriportError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.MetriportTimeoutError();
            case "unknown":
                throw new errors.MetriportError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Creates a DocumentReference and returns its ID and a URL to use for a medical document upload to our servers.
     *
     * @example
     *     await metriport.medical.document.createDocumentReference({
     *         patientId: "12345678",
     *         body: {
     *             resourceType: "DocumentReference",
     *             content: [{
     *                     attachment: {
     *                         title: "Burn management Hospital Progress note"
     *                     }
     *                 }],
     *             contained: [
     *                 {
     *                     "resourceType": "ExampleResource",
     *                     "id": "exampleId1"
     *                 },
     *                 {
     *                     "resourceType": "ExampleResource",
     *                     "id": "exampleId2"
     *                 }
     *             ],
     *             description: "Third degree wrist burn treatment",
     *             type: {
     *                 text: "Burn management Hospital Progress note",
     *                 coding: [{
     *                         code: "100556-0",
     *                         system: "http://loinc.org",
     *                         display: "Burn management Hospital Progress note"
     *                     }]
     *             },
     *             context: {
     *                 period: {
     *                     start: "2023-10-10T14:14:17Z",
     *                     end: "2023-10-10T15:30:30Z"
     *                 },
     *                 facilityType: {
     *                     text: "John Snow Clinic - Acute Care Centre"
     *                 }
     *             }
     *         }
     *     })
     */
    public async createDocumentReference(
        request: Metriport.medical.UploadDocumentRequest,
        requestOptions?: Document.RequestOptions
    ): Promise<Metriport.medical.UploadDocumentResponse> {
        const { patientId, body: _body } = request;
        const _queryParams: Record<string, string | string[]> = {};
        _queryParams["patientId"] = patientId;
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.MetriportEnvironment.Production,
                "/medical/v1/document/upload"
            ),
            method: "POST",
            headers: {
                "X-API-Key": await core.Supplier.get(this._options.apiKey),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@metriport/api-sdk",
                "X-Fern-SDK-Version": "0.0.343",
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            body: _body,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
        });
        if (_response.ok) {
            return _response.body as Metriport.medical.UploadDocumentResponse;
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MetriportError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.MetriportError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.MetriportTimeoutError();
            case "unknown":
                throw new errors.MetriportError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Triggers a process to generate a list of download URLs for all of the patient's documents.
     * The status of the process is returned in the response. Initially, it will be `processing`,
     * and when the process is finished, the status will be updated to `completed` or `failed`.
     * If you trigger this endpoint again while the process is still running, you will get a response
     * that reflects the current progress.
     *
     * @example
     *     await metriport.medical.document.startBulkGetDocumentUrl({
     *         patientId: "12345678"
     *     })
     */
    public async startBulkGetDocumentUrl(
        request: Metriport.medical.StartBulkGetDocumentUrlRequest,
        requestOptions?: Document.RequestOptions
    ): Promise<Metriport.medical.BulkGetDocumentUrlQuery> {
        const { patientId } = request;
        const _queryParams: Record<string, string | string[]> = {};
        _queryParams["patientId"] = patientId;
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.MetriportEnvironment.Production,
                "/medical/v1/document/download-url/bulk"
            ),
            method: "POST",
            headers: {
                "X-API-Key": await core.Supplier.get(this._options.apiKey),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@metriport/api-sdk",
                "X-Fern-SDK-Version": "0.0.343",
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
        });
        if (_response.ok) {
            return _response.body as Metriport.medical.BulkGetDocumentUrlQuery;
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MetriportError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.MetriportError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.MetriportTimeoutError();
            case "unknown":
                throw new errors.MetriportError({
                    message: _response.error.errorMessage,
                });
        }
    }
}
